*.suo
Bonsai/Packages
Bonsai/Bonsai.exe.*
Bonsai.SurprisingMinds/Bonsai.SurprisingMinds/bin
Bonsai.SurprisingMinds/Bonsai.SurprisingMinds/obj
Bonsai.SurprisingMinds/packages
*.avi
*.csv
pupil*log*.txt
WorldVidExtraction_log_*.txt
data-extraction_log*.txt
PythonWithAdam/plots
*.zip
*.json
*.log